body {
    background-color: lightskyblue;
    color: whitesmoke;
}

header {
    border: solid 2px whitesmoke;
    font-size: 32px;
    padding: 10px;
    color: darkblue;
}

h1{
    font-size: 30px;
   text-align: center;
   text-transform: uppercase;
}

p {
    font-size: 16px;
    color: darkblue;
}